
a {
  color: #ffffff;
}
.header{
   margin: 0%;
/*   position: absolute; */
  padding: 0%;
  background: linear-gradient(hsl(110, 90%, 72%), #277eff);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  height: 15%;
}
#box-comment{
  border-radius: 5px;
  border: 1px solid  #5878ca;;
  box-shadow: 0 2px  #5878ca;
  width:90%;
  margin: auto;
  margin-top: 10%;
  /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
}
.boxPerfil {
  border-radius: 50%;
  display: flex;
  float: left;
  width: 60%;
  align-items: center;
  /* align-content: center; */
}
.perfilPhoto{
  width:15%;
  height:15%;
  border-radius:50%;
margin-left: 0;
display:flex ;
}
.infoDate {
  display: flex;
  justify-content: end;
  color: #999;
}

/*.header{
  margin: 0%;
  position: absolute;
  padding: 0%;
  background: linear-gradient(hsl(110, 90%, 72%), #277eff);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  height: 40%;
  
}*/
.btn-Delete {
  background: #92c7eb;
  background-image: url('http://res.freestockphotos.biz/pictures/15/15107-illustration-of-a-red-close-button-pv.png');
  background-size: cover;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 15px;
  width: 5px;
  border-radius: 900px;
  height: 5px;
  transition: all 0.5s;
  cursor: pointer;
  
}
.btn-edit{
  background: #92c7eb;
  background-image: url('https://cdn.pixabay.com/photo/2017/06/06/00/33/edit-icon-2375785_960_720.png');
  background-size: cover;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 15px;
  width: 5px;
  border-radius: 900px;
  height: 5px;
  transition: all 0.5s;
  cursor: pointer;
}
#btnModificacion{
  margin-top: 0%;
  margin-right: 0%;
  display: flex;
  justify-content: end;
}
#btn-coment{
  display:flex;
  justify-content: end;
  margin-block-end: auto;
}
#deleteCamp{
  display: inline-block;
  padding: 5px 7px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #dd6d6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
  margin: 10px;
  margin-left: 5px;
}
#publish{
  display: inline-block;
  padding: 5px 7px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
  margin: 10px;
}
#reset-post{
  display:flex;
  justify-content:left;
}
#nameUserPost{
  font-size: 17px;
  text-align: left;
  color: #5878ca;
  /* margin: 5%; */
}
.nameUser{
  margin: 5%;
}
.abc{
  /* margin-top: 30%; */
  margin-top: 15px;
  font-size: 17px;
  color:rgb(0, 0, 0);
}
.form{
  display: flex;
/*   align-content:center ; */
  /* align-items: center; */
  flex-direction: column;
  font-size: 20px;
}
 #comment-post{
  height: 50px;
  border-radius: 8px;
  border: solid 1px  #5878ca;
  font-size: 11px;
  padding-top: 8px;
  padding-left: 14px;
  color: #575353;
  outline-color: #575353;
  box-shadow: 0 2px #999;
  background-color: white;
  width:85%;
  margin-bottom: 11px;

}
/* #comment-post textarea{
  width: 456px;
    height: 68px;
} */
comment-post :empty::before{
  position: absolute;
  content: "Write here...";
}

.publicationPost{
background-color: white;
width: 100%;
height:50%;
padding: 3%;
border-radius: 3px;
font-size: 25px;
}

#post-Publish{
  border: 1px solid #ffffff;
  width:98%;
  height: 90%;
  display: block;
  margin-left: 20px;
  /* display:flex; */
  flex-direction: column;
  /* justify-content: center; */
  /* margin: auto; */
  margin-top: 15px;
}
.post-separacion{
  
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
color: #000000; 
font-size: 18px; 
font-weight: 400; 
text-align: center; 
background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
margin: 0 0 25px; 
overflow: hidden; 
padding: 20px; 
border-radius: 35px 0px 35px 0px; 
-moz-border-radius: 35px 0px 35px 0px; 
-webkit-border-radius: 35px 0px 35px 0px; 
border: 2px solid #5878ca;
display: flex;
align-content: center;
flex-direction: column;
}
/* #nameUserPost{
  justify-content: left;
} */

.logo{
  max-height: 150px;
  margin: 0%;
  display:flex;
  justify-content:center;
  align-content:center;
  
}
.centerTitle{
  display: flex;
  justify-content: center;
  /*margin-left: 0%;
  margin-right: 20%;
  text-align: center;
  justify-content: center;*/
}
.titleCuyViajero{
  display: flex;
  justify-content: center;
  float: left;
  height: auto;
  /* max-width:2em; */
  
  font-size:280%;
  margin-top: 10px;
  text-decoration: none;
  text-shadow:  #70BF5A ; 
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #1d1c1c, 0 -1px #454b4d, -1px 1px 0 #0c0d0e, 1px 1px 0 #59AFCA, 1px 1px #59AFCA, 1px 1px #59AFCA, 2px 2px #59AFCA, 2px 2px #59AFCA, 2px 2px #59AFCA;
}


/* header */
/*.header {
  background: linear-gradient(hsl(110, 90%, 72%), #277eff);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  /*z-index: 3;

 
}*/
.header ul {
  margin:0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
.header li a {
  display: flex;
  align-items:center;
  padding: 10px 20px;
  color: #000000;
  font-size: 1.5rem;
  margin-top: 0px;
  font-family: sans-serif;
  /*border-right: 1px solid #f4f4f4;*/
  text-decoration: none;

}
.header li a:hover,
.header .menu-btn:hover {
  background-color: #15b300;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
 /* padding: 10px 20px;*/
  text-decoration: none;
  color: #00a4e0;
}
/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  background: linear-gradient(hsl(162, 42%, 61%), #277eff);

}
/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.header .menu-icon .navicon {
  background: #ffa552;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 20px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffa552;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

/* .header .menu-btn {
  display: none;
} */

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  /* //bajar naranja */
  .header li a {  
    padding: 30px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    justify-content: center;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.postForm{
border: #2a7983;
border: 8px;
border-radius: 3px;
background-color: #b7e0fb;
margin-bottom: 5px;
/* display: flex;
align-items: center; */
}
/* .boxPerfil{
display: flex;
justify-content: center;
} */