@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    display: grid;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


.hidde{
    display: none;
}
/* title {
    display: none;
}

div {
    justify-items: center;
}

.containerLogo{
    justify-items: center;
}

button {
    border: none;
    border-radius: 20px;
    padding: 5px 25px;
    color: white;
}

.pink {
    color: #fa4564;
}

.pink-bg {
    background-color: #fa4564;
}

.topLogo {
    height: 70px;
    margin: 10px;
}

.fullLogo {
    height: 100px;
}

.appName {
    width: 250px;
    margin: 300px 30px 10px 30px;
}

#slogan {
    font-weight: 700;
}

#createAccBtn {
    margin-top: 30px;
}

#goToLogin {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

#goToLoginBtn {
    padding-left: 10px;
} */

/* #welcome {
    grid-template-rows: 1fr 1fr 1fr;
} */