* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'comfortaa';
  font-size: large;
}


body {
  background: linear-gradient(90deg, #b5e5ff 0%, #ffdfb5 100%);
  position: relative;
  padding-bottom: 2em;
  min-height: 90vh;
  padding-top: 4rem;
}

footer {
  font-style: italic;
  text-align: center;
  color: #6e6d6c;
  bottom:0;
  width:100%;
}

/* --------LandingPage.js----------- */

#landing-div-global {
display: grid;
}

#landing-logo{
  /*grid-area: logo;*/
  display: flex;
  margin: 5% auto;
  width: 70%;

}

/* Las clases de logo e img-bienvenida seran usados en Landing, login y register */
.back-button {
background: transparent;
border: none;
position: absolute;
top: 1em;
left: 1em;
}

.go-back-icon {
font-size: 38px;
color: rgb(80 135 139 / 35%);
}

.logo {
/*grid-area: logo;*/
display: flex;
margin: 0% auto;
width: 60%;
}

.img-bienvenida {
  /*grid-area: img1;*/
  width: 90%;
  margin: 10% auto;
}

.btn-container{
  /*grid-area: cont-landing;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btns-landing{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: none;
  font-size: x-large;
  font-weight: bold;
  color: #225a7a;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#btn-register, #btn-login{
  height: 60px;
  width: 60%;
  margin: 10px auto;
}

.btn-container button:first-child:hover{
  background: rgba(247, 161, 47, 0.7);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transform: scale(1.3);
  }

.btn-container button:first-child:focus{
      background: rgba(247, 161, 47, 0.7);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      transform: scale(1.3);
      }

.btn-container button:nth-child(2):hover{
  background: rgba(91, 147, 179, 0.7);
  box-shadow:  rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transform: scale(1.3);
}
/* --------- Login.js ---------------*/
#login-img {
width: 333px;
height: auto;
}

#register-h2, #login-h2, #recovery-h2 {
padding-top: 10px;
font-size: 30px;
color: #225a7a;
}

#form-register, #form-login, #form-reset {
display: grid;
gap: 13px;
align-items: center;
justify-items: center;
}

#register-email, #mail-input, #recovery-pass-input {
width: 287px;
height: 37px;
border-radius: 5px;
padding-left: 10px;
font-size: 18px;
font-style: italic;
border: none;
background: rgba(255, 255, 255, 0.6);
box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.password-container {
align-items: center;
justify-items: center;
display: flex;
background: rgba(255, 255, 255, 0.6);
width: 287px;
height: 37px;
border-radius: 5px;
padding-right: 10px;
padding-left: 10px;
box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.password-container > input {
background: transparent;
outline: none;
font-size: 18px;
border: none;
font-style: italic;
}

#eye-container {
padding-left: 2em;
padding-top: 0.1em;
}

#show-password, #hide-password {
color: #a1a1a1;
}

.submit-buttons {
width: 181px;
height: 48px;
border-radius: 16px;
font-size: 18px;
border: 1.5px solid #b5e5ff;
margin-top: 0.5em;
color: #225a7a;
font-weight: bold;
box-shadow: 0px 4px 4px rgb(34 90 122 / 70%);
}

#line-container, #line-container1 {
display: grid;
grid-template-columns: 1fr auto 1fr;
width: 70%;
align-items: center;
}

.solid-line {
height: 1px;
background: #D9C3A7;
}

#line-p, #line-p1 {
padding-left: 4px;
padding-right: 4px;
color: #D9C3A7
}

#register-btn-container, #login-btn-container {
padding-top: 0.5em;
}

.view-wrappers {
display: grid;
align-items: center;
justify-items: center;
/*grid-template-areas:
  'logo logo logo'
  'img-welcome img-welcome img-welcome'
  'text-h2 text-h2 text-h2'
  'form form form'
  'line-img line-img line-img'
  'container-button container-button container-button'
  'err err err'
  'cont-text cont-text cont-text'
  'back-landing back-landing back-landing';
  gap: 3;*/
}

#recovery-wrapper {
text-align: center;
}

#register-img {
width: 333px;
height: auto;
padding-top: 1em;
}

#reset-pass-img {
width: 300px;
padding-top: 2em;
}

#recovery-h4 {
font-size: 16px;
color: #F7A12F;
}

.button-gmail {
width: 300px;
height: 56px;
border-radius: 16px;
font-size: 20px;
color: #225a7a;
font-weight: bold;
border: 1.5px solid #b5e5ff;
background: rgba(255, 255, 255, 0.6);
box-shadow: 0px 4px 4px rgb(34 90 122 / 70%);
}

#container, #container2 {
display: flex;
flex-direction: column;
align-items: center;
  justify-items: center;
}

#a-reset-password {
color: #0C9EA7;
font-size: 18px;
padding-top: 19px;
}

#p-no-account, #p-yes-account {
padding-top: 54px;
font-size: 17px;
color: #225a7a;
}

#better-login, #no-acc-register {
font-size: 17px;
color: #F7A12F;
font-weight: bold;
padding-bottom: 10px;
}







/* ------------Paragraph Error------------- */
/* .showParagraphError {
  width: 65%;
  color: red;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 5px;
  background-color: rgb(255, 192, 203, 0.5);
  text-align: center;
  padding: 5px;
  border: none;
  /* border: solid 1px; */
  /* box-shadow: 4px 4px 8px #d9c3a7;
  grid-area: err;
  margin: auto; */



/* -------Media Querys------ */

/*--Landing --*/
@media screen and (min-width: 768px){
  #landing-div-global{
      grid-template-areas:'img-welcome-desktop logo-desktop'
                          'img-welcome-desktop container-desktop'
                          'img-welcome-desktop .'
                          ' . .';
  }
  .img-bienvenida{
      grid-area: img-welcome-desktop;
      align-self: center;
      display: flex;
      width: 100%;
      margin-top: 20%;
  }

  #landing-logo{
      grid-area: logo-desktop;
      display: flex;
      flex-direction: column;
      margin: 60px 0 50px 118px;
  }
}
.test{
border: 2px solid;
border-color: red;
}
#interaction{
border-color: blue;
border: 3px solid;
}

.hide{
display: none;
}