body{
    min-height: 100vh;
    margin:0;
    background:linear-gradient(hsl(56, 61%, 73%), #8be7c4a6);
    text-align: center;
   font-family: inherit;
    display: flex;
    justify-content: center;
}

.img-responsive{
    width: 100%;
    max-width: 350px;
    height: auto;
}

#inputPassword , #inputName , #inputCorreo{
    display: flex;
    justify-content: center;
    /* margin: 10px; */
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    border-radius: 5px;
    border-color: rgb(116, 124, 121);
    margin-bottom: 5%;

}
.titleRedSocial{
    display: flex;
    justify-content: center;
    margin:auto;
    color:#0C6D5B ;
    text-align: center;
    font-family: inherit;
    font-size: 40px;
    padding:10px;
}
#pText{
    color: rgb(7, 7, 7);
    font-size: 20px;
}
.buttonHome{
    background-color:#1877f2 ;
    border-radius: 30px;
    border: none;
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;
    padding: 16px 32px;
    text-align: center;
    font-family:" EB Garamond";
    font-size:20px;
    margin: auto;
}
#buttonLogin , #buttonRegister , #usuarioBtn , #GetInto, #buttonUserRegister ,#buttonBackHome{
    background-color:#1877f2 ;
    border-radius: 30px;
    display: flex;
    border: none;
    justify-content: center;
    color: white;
    cursor: pointer;
    padding: 16px 32px;
    text-align: center;
    font-family:" EB Garamond";
    font-size:20px;
    margin: auto;
   
    width: 100%;
    margin-bottom: 5%;
    
}
